<main>
<h1>Editing Asset</h1>

<% if !@asset.file.url.end_with?('json') %>
<%= image_tag(@asset.file.url, :class => "img-responsive")%>
<% else %>
<i class="fa fa-file-code-o" style="font-size:64px"></i>
<% end %>

<%= render 'form', asset: @asset %>

<%= link_to 'Show', [@app, @asset] %> |
<%= link_to 'Back', app_assets_path %>

<main>
