<h2 id="type"></h2>
<h3 id="status"></h2>

<div class="card">
    <div class="card-header">
        Android
    </div>
    <table class="card-block table table-hover">
        <thead>
            <tr>
                <th>#</th>
                <th>Build</th>
                <th>Test</th>
                <th>Ready</th>
                <th>Updated on</th>
            </tr>
        </thead>
        <tbody id="builds">
            <% @app.builds.each do |build| %>
              <%= raw build_to_html_table_row(build) %>
            <% end %>
        </tbody>
    </table>
</div>

</br>
<%= link_to "Publish", app_build_path(@app), method: :post, :class => "btn btn-success btn-lg" %>
