<main>
<div class="card">
    <div class="card-header">
        Android
    </div>
    <table class="card-block table table-hover" id="android">
        <thead>
            <tr>
                <th>App</th>
                <th>Status</th>
                <th>Details</th>
                <th>Step</th>
                <th>Message</th>
                <th>Updated</th>
            </tr>
        </thead>
        <tbody id="builds">
            <% @app.builds.where(platform: 'android').last(5).reverse.each do |build| %>
              <%= raw build_to_html_table_row(@app, build) %>
            <% end %>
        </tbody>
    </table>

    <div class="card-footer text-muted">
        <%= link_to "Publish", trigger_configure_app_path(@app, :platform => 'android'), method: :post, :class => "btn btn-success", data: {disable_with: "Publishing..."} %>
    </div>
</div>

</br>

<div class="card">
    <div class="card-header">
        iOS
    </div>
    <table class="card-block table table-hover" id="ios">
        <thead>
            <tr>
                <th>App</th>
                <th>Status</th>
                <th>Details</th>
                <th>Step</th>
                <th>Message</th>
                <th>Updated </th>
            </tr>
        </thead>
        <tbody id="builds">
            <% @app.builds.where(platform: 'ios').last(5).reverse.each do |build| %>
              <%= raw build_to_html_table_row(@app, build) %>
            <% end %>
        </tbody>
    </table>

    <div class="card-footer text-muted">
        <%= link_to "Publish", trigger_configure_app_path(@app, :platform => 'ios'), method: :post, :class => "btn btn-success" %>
    </div>
</div>
</main>
