<main>
<div class="card">
    <div class="card-header">Android</div>
    <table class="card-block table table-hover" id="android">
        <thead>
            <tr>
                <th>App</th>
                <th>Status</th>
                <th>Details</th>
                <th>Step</th>
                <th>Message</th>
                <th>Updated</th>
            </tr>
        </thead>
        <tbody id="builds">
            <% @app.builds.where(platform: 'android').last(5).reverse.each do |build| %>
              <%= raw build_to_html_table_row(@app, build) %>
            <% end %>
        </tbody>
    </table>

    <div class="card-footer text-muted">

    <div class="row">
      <div class="col-8">
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
          <label class="form-check-label" for="inlineCheckbox1">Fabric Beta</label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="option2">
          <label class="form-check-label" for="inlineCheckbox2">Google Play</label>
        </div>
      </div>
      <div class="col-4 text-right">
          <%= link_to "Publish", trigger_configure_app_path(@app, :platform => 'android'), method: :post, :class => "btn btn-success", data: {disable_with: "Publishing..."} %>
      </div>
    </div>
  </div>
</div>


<div class="card">
    <div class="card-header">iOS</div>
    <table class="card-block table table-hover" id="ios">
        <thead>
            <tr>
                <th>App</th>
                <th>Status</th>
                <th>Details</th>
                <th>Step</th>
                <th>Message</th>
                <th>Updated </th>
            </tr>
        </thead>
        <tbody id="builds">
            <% @app.builds.where(platform: 'ios').last(5).reverse.each do |build| %>
              <%= raw build_to_html_table_row(@app, build) %>
            <% end %>
        </tbody>
    </table>

    <div class="card-footer text-muted">

      <div class="row">
        <div class="col-8">
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1" checked>
            <label class="form-check-label" for="inlineCheckbox1">AppStore</label>
          </div>
        </div>
        <div class="col-4 text-right">
            <%= link_to "Publish", trigger_configure_app_path(@app, :platform => 'ios'), method: :post, :class => "btn btn-success" %>
        </div>
      </div>
    </div>
</div>
</main>
