/*
 *= require jsoneditor
 *= require_tree .
 *= require_self
 *= require font-awesome
 */
@import "bootstrap";

main {
    @extend .container;
    padding-bottom: 80px;
    margin-top: 51px;
}

section {
    @extend .row;
    margin-top: 20px;
}

.tooltip-inner {
    white-space: pre;
    max-width:none;

}

#error_explanation:not(:empty) {
  @extend .alert;
  @extend .alert-danger;
}

#error_explanation h2 {
  font-size: 16px;
}
